html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

/* nav-bar container */
#nav-bar {
  /* ensure it never flexes */
  flex: 0 0 40px;
  height: 40px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

/* inner <nav> flex row */
#nav-bar > nav {
  display: flex;
  height: 100%;
}

/* each third */
.nav-section {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  box-sizing: border-box;
}

/* left-aligned, center, right-aligned */
.nav-section.first {
  justify-content: flex-start;
}
.nav-section.second {
  justify-content: center;
}
.nav-section.third {
  justify-content: flex-end;
}

/* button/reset/select styling (optional tweaks) */
#nav-bar button,
#nav-bar select {
  display: flex; /* make the button a flexbox */
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */

  /* your existing size rules */
  height: 26px;
  min-height: 26px;
  max-height: 26px;
  padding: 0 8px;

  /* visuals */
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}

#nav-bar button:hover,
#nav-bar select:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* ===== custom toggle ===== */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px; /* total width */
  height: 26px; /* total height = 26px */
  margin-left: 8px;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* the sliding background */
.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 13px;
  transition: background-color 0.2s;
}
/* the circle */
.toggle-switch .slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 2px;
  top: 2px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.2s;
}
/* checked state */
.toggle-switch input:checked + .slider {
  background-color: #000000;
}
.toggle-switch input:checked + .slider::before {
  transform: translateX(24px);
}

/* This contains both the inputs-section and the outputs-section */
#inputs-graphs-section {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  min-height: 0; /* Allow children with overflow to shrink */
}

/* Styling for the entire inputs section */
#inputs-section {
  flex: 0 0 33.333%; /* 1/3 width */
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ececec;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
}

/* Styling for the graphs section */
#graphs-section {
  flex: 0 0 66.666%; /* 2/3 width */
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px;
}

/*
* For Input Category Selection
*/

#input-category-selector-container {
  display: flex; /* Arrange the options in a row */
  flex-direction: row;
  justify-content: center; /* Center the options horizontally */
  justify-content: space-evenly;
  /* margin-top: 10px; Space above the selector */
  margin-bottom: 10px;
}

.input-category-selector-option {
  background-color: #4b5563; /* Green background for buttons */
  color: white; /* White text color */
  padding: 5px 10px; /* Add some padding for the buttons */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  font-size: 13px; /* Text size */
  cursor: pointer; /* Pointer cursor when hovered */
  transition: background-color 0.1s ease, transform 0.1s ease; /* Smooth hover effect */
}

.input-category-selector-option:hover {
  background-color: #1e3a8a; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.input-category-selector-option:active {
  background-color: #1d4ed8; /* Even darker green when clicked */
}

.input-category-selector-option.selected {
  background-color: #2563eb; /* Change color when selected */
  transform: scale(1.05); /* Slightly enlarge when selected */
}

/*
* For Scenario Selection
*/

#scenario-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  /* margin-top: 3px; */
  margin-bottom: 10px;
}

.scenario-selector-option {
  color: white;
  width: 30px; /* Fixed width */
  height: 30px; /* Fixed height */
  border: none;
  cursor: pointer;
  transition: background-color 0.1s ease, transform 0.1s ease;
  border-radius: 50%;
}

/* First Scenario - Black */
.scenario-selector-option:nth-child(1) {
  background-color: #000000;
}

.scenario-selector-option:nth-child(1):hover {
  background-color: #444444;
}

.scenario-selector-option:nth-child(1):active {
  background-color: #333333;
}

.scenario-selector-option:nth-child(1).selected {
  background-color: #000000;
  transform: scale(1.05);
  border: 3px solid #000000; /* Dark gray border */
  box-shadow: 0px 0px 10px rgba(19, 19, 19, 0.3);
}

/* Second Scenario - Orange */
.scenario-selector-option:nth-child(2) {
  background-color: #e66100;
}

.scenario-selector-option:nth-child(2):hover {
  background-color: #f0731a;
}

.scenario-selector-option:nth-child(2):active {
  background-color: #d95c00;
}

.scenario-selector-option:nth-child(2).selected {
  background-color: #e66100;
  transform: scale(1.05);
  border: 3px solid #8a3c00; /* Dark orange border */
  box-shadow: 0px 0px 10px rgba(19, 19, 19, 0.3);
}

/* Orange slider highlight colour for Scenario 2 */
.scenario-2 .slider-rangeHighlight {
  background: #e66100 !important;
}

/* Underline the scenario buttons */
.scenario-selector-option.selected::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px; /* Thickness of the underline */
  background-color: #000000;
  position: absolute;
  bottom: -10px; /* Position */
  left: 0;
}

/*
* For Graph Category Selection
*/

#graph-category-selector-container {
  display: flex; /* Arrange the options in a row */
  justify-content: center; /* Center the options horizontally */
  justify-content: space-evenly;
  /* margin-top: 5px; Space above the selector */
}

.graph-category-selector-option {
  background-color: #4b5563; /* Gray background for buttons */
  color: white; /* White text color */
  padding: 5px 10px; /* Add some padding for the buttons */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Text size */
  cursor: pointer; /* Pointer cursor when hovered */
  transition: background-color 0.1s ease, transform 0.1s ease; /* Smooth hover effect */
}

.graph-category-selector-option:hover {
  background-color: #1e3a8a; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.graph-category-selector-option:active {
  background-color: #1d4ed8; /* Even darker green when clicked */
}

.graph-category-selector-option.selected {
  background-color: #2563eb; /* Change color when selected */
  transform: scale(1.05); /* Slightly enlarge when selected */
}

/*
 * Top panel: graphs
 */

#graphs-container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

/*
 * This container is set up to allow for automatic responsive sizing
 * by Chart.js.  For this to work, we need the canvas element to have
 * this parent container with `position: relative` and fixed dimensions
 * using `px` or `vw`/`vh` units.
 */
.graph-container {
  position: relative;
  width: 31vw;
  height: 32vh;
  padding-top: 5px;
}

/* Contains the Graph Title, the Graph, and the Graph Legend */
.outer-graph-container {
  display: flex;
  flex-direction: column;
}

/* Row for top graphs */
.top-graph-row,
.bottom-graph-row {
  display: flex;
  flex-direction: row; /* Display graphs side by side in each row */
}

/* Center-align title container and its content */
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/* graph legends */

.graph-legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow items to move to the next row */
  justify-content: center;
  width: 100%;
  margin-top: 2px;
}

.graph-legend-item {
  padding: 4px 8px 3px 8px;
  margin: 1px 3px;
  color: #fff;
}

/* Custom Graph selector (dropdown) */

.custom-graph-selector {
  position: relative;
  width: 85%;
  cursor: pointer;
}

.selected-option {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-top: 4px; */
  z-index: 1000;
  max-height: 35vh;
  overflow-y: auto;
}

.dropdown-option {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-option:hover {
  background-color: #f5f5f5;
}

.option-title {
  margin-right: 8px;
}

.classification-header {
  padding: 8px 12px;
  font-weight: bold;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  color: #666;
  cursor: default;
}

.dropdown-option {
  padding: 8px 12px;
}

.dropdown-option:hover {
  background-color: #f8f8f8;
}

/*
 * Left panel: sliders and switches
 */

#inputs-container {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  /* padding: 0 10px; */
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ececec;
}

.input-title-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 5px;
}

.input-title {
  flex: 1;
  font-weight: bold;
  font-size: 1.2em;
  color: #111;
}

.input-value {
  font-weight: bold;
  font-size: 1.2em;
  color: #111;
}

.input-units {
  margin-left: 5px;
  font-size: 1em;
  color: #111;
}

.input-desc {
  font-style: italic;
  color: #333;
  margin-top: 5px;
}

.input-slider-row {
  position: relative;
  width: 94%;
  margin-left: 3%;
}

.input-slider-tick {
  position: absolute;
  top: 12px;
  width: 4px;
  height: 14px;
  transform: translate(-2px, 0);
  border-radius: 4px;
  background: #fafafa;
}

.switch-checkbox {
  margin-bottom: 8px;
}

.switch-label {
  font-weight: bold;
  font-size: 1.2em;
  color: #111;
  vertical-align: middle;
  margin-left: 6px;
}

/*
 * Input Dropdowns
 */

/* Dropdown group container */
.input-dropdown-group {
  padding: 0px 5px 0px 5px;
  margin: 12px 0;
  border: 1px solid #989898;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.1s ease;
}

.input-dropdown-group:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Dropdown header containing main input */
/* .dropdown-header {
  padding: 12px;
  background: #f8fafc;
  border-radius: 8px 8px 0 0;
  position: relative;
  transition: background-color 0.2s ease;
}

.dropdown-header:hover {
  background-color: #f1f5f9;
} */

/* Expand/collapse button */
.expand-button {
  left: 12px;
  margin-right: 4px;
  width: 24px;
  height: 24px;
  border: none;
  background: #e2e8f0;
  border-radius: 4px;
  cursor: pointer;
  color: #475569;
  font-size: 12px;
  padding: 0;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand-button:hover {
  background: #cbd5e1;
  color: #334155;
}

/* Compact spacing for grouped inputs */
.input-item {
  margin: 6px 0;
  padding: 6px;
  background: white;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
}

/* Hover effect for standalone inputs */
/* .input-item:not(.dropdown-content .input-item):hover {
  background: #f8fafc;
} */

/*
 * Segmented Buttons for dropdown main
 */

.input-segmented-item {
  margin: 6px 0;
  padding: 6px;
  background: white;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
}

.segmented-buttons {
  display: flex;
  flex-wrap: wrap; /* allow buttons to flow onto the next line */
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.segmented-button {
  flex: 1;
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  background: #fafafa;
  cursor: pointer;
  border-radius: 4px;
}
.segmented-button.active {
  background: #2563eb;
  color: white;
  border-color: #007bff;
}

/*
 * Combined Slider Inputs
 */

.combined-slider-group {
  margin: 6px 0;
}

.combined-slider-group .input-title-row {
  margin-bottom: 10px;
}

.combined-slider-group .input-value {
  font-weight: bold;
}

/*
 * Info box
 */

/* Container for title + info icon */
.slider-title-and-info-container {
  display: inline-flex;
  gap: 4px;
  position: relative;
}

.info-icon-container {
  display: inline-block;
  position: relative;
}

.info-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #4b5563;
  color: white;
  text-align: center;
  font-size: 9px;
  line-height: 16px;
  cursor: help;
}

.tooltip {
  visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.4;
  z-index: 1001;
  pointer-events: none;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  white-space: normal;
  display: block;
}

.value-units-container {
  display: flex;
  align-items: center;
  gap: 4px; /* Space between value and units */
  margin-left: auto; /* Force this container to the right */
}

/* Only for the scenario info container */
#scenario-info-container {
  display: flex;
  align-items: flex-end; /* push it to the bottom */
}

/*
 * Toggle Buttons (for switch inputs)
 */

.switch-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.switch-button {
  padding: 8px 15px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s;
}

.switch-button.active {
  background: #2563eb;
  color: white;
  border-color: #007bff;
}

/*
 * Dev overlay
 */

/* .overlay-container {
  position: fixed;
  display: none;
  flex-direction: column;
  flex: 1;
  bottom: 0;
  right: 0;
  z-index: 9999;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  padding: 10px;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  font-family: monospace;
  font-size: 11px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
}

.overlay-container .overlay-error {
  color: crimson;
} */

/*
 * Customizations for bootstrap-slider
 */

.slider.slider-horizontal {
  width: 100%;
  height: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.slider.slider-horizontal .slider-track {
  height: 8px;
  top: 4px; /* (slider-handle:height / 2) - (slider-track:height / 2) */
  margin-top: 0;
  background: #fafafa;
}

/* Black for Scenario 1 */
.slider-rangeHighlight {
  background: #000000;
}

.slider-handle {
  background: none; /* Removes the default circle */
}

.slider-handle::before {
  content: "\258C"; /* Unicode block character */
  line-height: 20px;
  font-size: 20px;
  color: #000;
  display: block;
  text-align: center; /* Align with the range highlight */
}

.slider.slider-horizontal .slider-handle {
  margin-left: -8px;
}
